### Java ###
*.class
*.jar
*.war
*.ear
hs_err_pid*

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

### Spring Boot ###
application-*.yml
application-*.properties

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/
bin/

### Logs ###
*.log

### OS Files ###
.DS_Store
Thumbs.db

### Docker ###
/.docker/
*.pid
*.seed

### Terraform ###
*.tfstate
*.tfstate.*
crash.log
.terraform/
.terraform.lock.hcl

### Security ###
.env
*.key
*.pem
*.crt
